.new__product {
  width: 100%;
  height: 95vh;
  display: flex;
  justify-content: center;
}

.form_container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-bottom: 1.6rem;
}

.form_container label {
  width: 100%;
  color: var(--color-texto-verdeOscuroSecundario);
  font-weight: 700;
  background-color: transparent;
  border: 0.1rem solid var(--color-texto);
  border-radius: 0.8rem;
  padding: 1rem;
}

.new__product-title {
  color: var(--color-texto-verdeOscuroPrimario);
  font-weight: 700;
  margin-bottom: 1rem;
}

.new__product-input {
  width: 100%;
  padding: 1rem;
  margin-bottom: 2rem;
  border: none;
  border-radius: 0.8rem;
  background-color: transparent;
  color: var(--color-texto);
}

.form-selection {
  width: 100%;
  padding: 1rem;
  background-color: var(--color-fondo);
  color: var(--color-texto);
  border-radius: 0.8rem;
  border: none;
}

.new__product-button {
  width: 100%;
  padding: 1rem;
  font-weight: 700;
  background-color: var(--color-texto);
  border: none;
  border-radius: 0.8rem;
  transition: all 0.3s;
}

.new__product-button:hover {
  background-color: var(--color-texto-verdeOscuroPrimario);
  color: var(--color-texto);
  transform: scale(1.05);
}

.new__product-input:focus {
  outline: none;
}

.form-selection:focus {
  outline: none;
}

.form-description {
  resize: none;
}
